h2 {
    font-size: 44px;
}
h2+p {

    font-style: oblique;
    color: rgb(89, 15, 158);
}
#information {
    font-size: 22px;
    color: aliceblue;
    background-color: black;
}
.mink {
    color: brown;
}
article>h3 {
    color: gold;
}
article #jerboapara {
    font-family: monospace;
    color: yellow;
    background-color: steelblue;
}
